/* header */
header {
    position: relative;
    height: 65vh;
    background-image: url(../img/header-subpage.jpg);
    background-size: cover;
    background-position: center -50px;
    text-align: center;
    background-attachment: fixed;
}

header > * {
    position: relative;
    z-index: 2;
}

header::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.2) 40%, rgba(0,0,0) 100%);
}

header h1 {
    padding-top: 150px;
    padding-bottom: 16px;
}

/* section 1 */
section {
    margin: 100px 0;
}

@media screen and (max-width: 991px) {
    header {
        height: 35vh;
        background-position: center -150px;
    }
    
    .order-2 {
        order: 2;
    }

    .order-1 {
        order: 1;
    }

    .section-1 img,
    .section-2 img,
    .section-3 img {
        margin-top: 32px;
    }
}

@media screen and (max-width: 767px) {
    header {
        height: 45vh;
    }
    header h1 {
        padding-top: 120px;
    }
}